.btn-group.btn-group-vertical.btn-group-lg.pull-right
    button.btn.btn-primary.navbar-btn(type="button" ng-model="clicked" ng-click="toggleClick()") Create Note
    button.btn.btn-danger.navbar-btn(type="button" ng-click="clear()") Clear Notes
