include header
body(ng-app="hts" ng-controller="MainCtrl as app")
    include nav
    content
        .container.js-masonry(data-masonry-options='{ "columnWidth": ".well", "itemSelector": ".well" }')
            .well.col.md-4(ng-repeat="note in notes")
                h1 {{note.title}}
                p {{note.body}}
                small {{note.date}}

